#pane{
    -fx-background-image: url("mapnew.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 800 500;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
#picture{
    -fx-background-image: url("angrymain.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 800 500;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
#gameover{
    -fx-background-image: url("end.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 355 591;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
#win{
    -fx-background-image: url("win.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 355 591;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}